<div  class="box">
  <h3 class="center blue"><%= @organisation.name %></h3>
  <div class="center" style="margin: 10px;">
    <%= link_to 'View Shifts', organisation_organisation_shifts_path(@organisation), class: 'border' %>
    <%= link_to 'Edit', edit_organisation_path(@organisation), class: 'border' %>
    <%= link_to 'Leave Organisation', organisation_organisation_enrollments_path(@organisation), class: 'border', method: :destroy %>
  </div>


</div>
