<div class="right-align">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</div>
<h1 class="center">Adnat Time App</h1>
<p class="center">Signed in as <%= current_user.name %></p>
